
footer {
    background-color: #000;
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin:  auto;
    padding: 10px;
}

.footer-content p {
    display: flex;
    margin: 5px 0;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    align-items: flex-end;
}

.social-media a img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 26px;
    height: 26px;
}

/* Responsive */
@media (min-width: 600px) {
    .footer-content {
       flex-direction: row;
       justify-content: space-between;
    }

    .footer-content p {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
}