#page6 {
    background-color: #000000aa;
    border: 10px solid #FFD700;
    border-radius: 16px;
    color: white;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin: 0 auto;
}

#champion {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    p {
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
